
Java/.gradle/8.6/checksums/checksums.lock
Java/.gradle/8.6/executionHistory/executionHistory.lock
Java/.gradle/8.6/fileHashes/fileHashes.lock
Java/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Java/.gradle/8.6/executionHistory/executionHistory.lock
/Java/.gradle/8.6/checksums
Java/.gradle/8.6/fileHashes/fileHashes.lock
Java/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Java/.gradle/8.6/checksums/checksums.lock
Java/.gradle/8.6/executionHistory/executionHistory.lock
Java/.gradle/8.6/fileHashes/fileHashes.lock
Java/.gradle/buildOutputCleanup/buildOutputCleanup.lock
